@import "variables";

* {
    padding: 0;
    margin: 0;
}

@mixin marginlb ($marl,$marb){
    margin-left: $marl;
    margin-bottom: $marb;
}

.dflex{
    display:flex;
}
header {
    grid-area: header;
    img {
        padding: 10px;
    }
}

.secciones {
    font-family: 'Noto Serif', serif;
}

body {
    background-color: $blanco;
}

.presentacion {
    color: $violeta;
    font-family: 'Noto Serif', serif;
    margin-bottom: 50px;
    align-items: center;
    grid-area: galeria;
    @extend .dflex;
    flex-direction: column;
    h1 {
        @include marginlb(20px,60px);
    }
}


h2 {
    @include marginlb(30px,30px);
}

.foto {
    margin-top: 30px;
    @include marginlb(10px,30px);
}

p {
    @include marginlb(16px,16px);
}

.picture{
    width: 600px;
}


.redes {
    @extend .dflex;
    margin-left: 30px;
    justify-content: center;

}

.mail {
    @extend .dflex;
    margin-left: 30px;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    
}


.grilla {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "galeria"
        "galeria"
        "footer"
    ;
}

.padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer {
    @extend .dflex;
    flex-direction: column;
    grid-area: footer;
    align-items: center;
    .redesSociales a i{
        zoom: 200%;
        color: $negro;
    }

    @each $name-color, $color in $colores {
        .fa-#{$name-color}:hover{
            color: $color;
        }
    }
}

.imagen {
    @extend .dflex;
    border: 15px solid $blanco;
}

