@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
}

.dflex, .presentacion, .redes, .mail, .footer, .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

header img {
  padding: 10px;
}

.secciones {
  font-family: 'Noto Serif', serif;
}

body {
  background-color: white;
}

.presentacion {
  color: #715b74;
  font-family: 'Noto Serif', serif;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: galeria;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentacion h1 {
  margin-left: 20px;
  margin-bottom: 60px;
}

h2 {
  margin-left: 30px;
  margin-bottom: 30px;
}

.foto {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}

p {
  margin-left: 16px;
  margin-bottom: 16px;
}

.picture {
  width: 600px;
}

.redes {
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail {
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Noto Serif', serif;
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "galeria" "galeria" "footer";
}

.padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .redesSociales a i {
  zoom: 200%;
  color: black;
}

.footer .fa-youtube:hover {
  color: red;
}

.footer .fa-facebook:hover {
  color: #3a5795;
}

.footer .fa-instagram:hover {
  color: darkviolet;
}

.imagen {
  border: 15px solid white;
}

@media screen and (max-width: 599px) {
  .grilla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgs img {
    height: auto;
    width: 400px;
  }
  .imagen img {
    height: auto;
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */